target/
.idea/
.vscode/
*.iml
build.log
src/main/java/com/mindcare/images/icons/marketing-numerique-ligne-homme-affaires-utilisant-tablette-analysant-croissance-du-graphique-donnees-vente-icone-interface-moderne-strategie-analyse-solution-developpement-contenu-scaled-6990ed03e2e29.jpg
